/* This is the bare minimum needed to create your own theme.
   In this example, all we're doing is overriding the default
   color scheme with our own. In the real world, you'd probably
   want to do more complex operations. */

/* *** Skin Colour Scheme *** */

/* Generics */
.yui-skin-yuiapp a { color:#5D0265; text-decoration: none; }
.yui-skin-yuiapp abbr,
.yui-skin-yuiapp acronym { border-color: #000; }

/* Make the page full bleed */
html, 
body.yui-skin-yuiapp { background-color:#F0F0EE; color:#262626; }

/* *** Header *** */
.yui-skin-yuiapp #hd { background-color:#5D0265; }
.yui-skin-yuiapp #hd h1 { color:#fff; }
.yui-skin-yuiapp #hd .yui-g { background-color:#000; }
.yui-skin-yuiapp #hd .yui-g li a { color:#fff; }
.yui-skin-yuiapp #hd .yui-g .yui-u.first li.active a { background-color:#fff; color:#000; }

/* Generics */
.yui-skin-yuiapp #bd h2 { } /* Set font color using html element above */
.yui-skin-yuiapp #bd h3 { background-color:#5D0265; border-color:#262626; color: #fff}
.yui-skin-yuiapp #bd h4 { color: #5D0265; }
.yui-skin-yuiapp #bd h5 { color: #5D0265; }
.yui-skin-yuiapp #bd .yui-g { background-color:#fff; color: #262626; }

/* Extend block with tabs */
.yui-skin-yuiapp #bd .yui-g div.tabs { background-color: #5D0265; border-color:#262626; }
.yui-skin-yuiapp #bd .yui-g div.tabs ul li a { color:#fff; }
.yui-skin-yuiapp #bd .yui-g div.tabs ul li a:hover { color: #fff; background-color:#8D0399; }
.yui-skin-yuiapp #bd .yui-g div.tabs ul li.active a { background-color:#262626 !important; color:#fff; } /* important! fixes IE cascade issue */

/* Extend tab block with spaced tabs */
.yui-skin-yuiapp #bd .yui-g div.tabs.spaces ul li { background-color:#5D0265; }

/* Style the horizontal rules inside .block */
.yui-skin-yuiapp #bd .yui-g hr { background-color:#5D0265; }

/* Tables */
.yui-skin-yuiapp #bd .yui-g table thead { background-color:#262626; color:#fff; font-weight:bold; }
.yui-skin-yuiapp #bd .yui-g table thead a { color:#fff; }

/* Pager control*/
.yui-skin-yuiapp #bd .yui-g ul.pager li a { color:#333; border-color:#ccc; }
.yui-skin-yuiapp #bd .yui-g ul.pager li a:hover { background-color:#262626; color:#fff; }
.yui-skin-yuiapp #bd .yui-g ul.pager li.active a { background-color:#262626; color:#fff; }
.yui-skin-yuiapp #bd .yui-g ul.pager li.active a:hover { background-color:#262626; color:#fff; }

/* Forms */
.yui-skin-yuiapp #bd form .yui-g label span { color:#f00; }
.yui-skin-yuiapp #bd form .yui-g span.info { color:#ccc; }
.yui-skin-yuiapp #bd form .yui-g .text { border-color:#aaa; }

/* Messages */
.yui-skin-yuiapp #bd .yui-g .error { background-color:#fdd; }
.yui-skin-yuiapp #bd .yui-g .warning { background-color:#ffc; }
.yui-skin-yuiapp #bd .yui-g .notice { background-color:#bbffb6; }

/* Lists */
.yui-skin-yuiapp #bd #sidebar ul li a { color:#000; }
.yui-skin-yuiapp #bd #sidebar ul li { border-color: #f0f0ee; }

/* Footer */
.yui-skin-yuiapp #ft { background-color:#F0F0EE; color:#262626; }

/* Custom Classes */
.yui-skin-yuiapp .gray { color:#999; }
.yui-skin-yuiapp .highlight { background-color:#ffffcc; }
