/* This is the bare minimum needed to create your own theme.
   In this example, all we're doing is overriding the default
   color scheme with our own. In the real world, you'd probably
   want to do more complex operations. */

.yui-skin-yuiapp #hd { background-color:#7a1818; }
.yui-skin-yuiapp .block .hd { background-color:#7a1818; color:#fff; border-bottom:10px solid #262626; }
.yui-skin-yuiapp .block .bd h2 { color:#7a1818; }
.yui-skin-yuiapp .block .bd h3 { color:#7a1818; }
.yui-skin-yuiapp .spaces .hd { background-color:transparent; }
.yui-skin-yuiapp .spaces .hd ul li { background-color:#7a1818; }
.yui-skin-yuiapp a { color:#7a1818; }
