/* This is the bare minimum needed to create your own theme.
   In this example, all we're doing is overriding the default
   color scheme with our own. In the real world, you'd probably
   want to do more complex operations. */

html, body.yui-skin-yuiapp  { 
	background-color:#EBE1D3;
	/*padding-top: .3em;*/
}
.yui-skin-yuiapp h1, .yui-skin-yuiapp h2, .yui-skin-yuiapp h3 {
	color: #222;
}
.yui-skin-yuiapp a { 
	color:#0854C7;
	text-decoration: none; 
}
.yui-skin-yuiapp table thead { background-color:#685841;}

.yui-skin-yuiapp #hd {
	background-color: #967E59;
}
.yui-skin-yuiapp #hd h1{
	color: #fff;	
}
.yui-skin-yuiapp #bd {
	background-color: #fff;
	color: #333;
}

.yui-skin-yuiapp #primary-navigation li.active a { background-color: #fff; color:#333;}
.yui-skin-yuiapp #navigation {
	background-color: #064780;
}

.yui-skin-yuiapp .block .hd { background-color: #A0C2DE; color: #333; border-bottom: 5px solid #064780 }
.yui-skin-yuiapp .tabs .hd {
	background-color: #064780;
	border-bottom: 5px solid #A0C2DE;
}

.yui-skin-yuiapp .block .bd h2 { color:#967E59; }
.yui-skin-yuiapp .block .bd h3 { color:#967E59; }
.yui-skin-yuiapp .spaces .hd { background-color:transparent; }
.yui-skin-yuiapp .spaces .hd ul li { background-color:#187a7a; }

.yui-skin-yuiapp .tabs ul {
	background-color: #064780;
}

.yui-skin-yuiapp .tabs .hd ul li a:hover { background-color:#CDEFFF; 	color: #333;
}

.yui-skin-yuiapp .tabs .hd ul li.active a { background-color:#A0C2DE !important; color:#333; text-decoration:none; }
.yui-skin-yuiapp .spaces .hd ul li { background-color:#064780; margin-right:0.1em; }

.yui-skin-yuiapp ul.pager li a { padding:0.1em 0.3em; margin-right:0.3em; border:1px solid #ccc; text-decoration:none; color:#333; }
.yui-skin-yuiapp ul.pager li.active a, .yui-skin-yuiapp ul.pager li a:hover { background-color:#685841; color:#fff; }