html, body.yui-skin-yuiapp { background-color:#f0f0ee; color:#222; }

/* Make the page full bleed */
.yui-skin-yuiapp #doc3 { margin:0; }

/* Header */
.yui-skin-yuiapp #hd { padding:1.2em 1.5em 0 1.5em; background-color:#7a1818; }
.yui-skin-yuiapp h1 { font-size:230%; color:#fff; }

.yui-skin-yuiapp #navigation { margin-top:1.5em; background-color:#262626; height:1%; }
.yui-skin-yuiapp #navigation li { float:left; display:inline; }
.yui-skin-yuiapp #navigation li a { display:block; color:#fff; text-decoration:none; }
.yui-skin-yuiapp #navigation li a:hover { text-decoration:underline; }

.yui-skin-yuiapp #primary-navigation li a { font-size:116%; padding:0.4em 1em; }
.yui-skin-yuiapp #primary-navigation li.active a { background-color:#f0f0ee; color:#000; }

.yui-skin-yuiapp #user-navigation { float:right; }
.yui-skin-yuiapp #user-navigation li a { font-size:93%; padding:0.5em 1em; }

/* Body */
.yui-skin-yuiapp #bd { padding:1.5em; }
.yui-skin-yuiapp h2 { font-size:153.9%; margin-bottom:0.5em; }
.yui-skin-yuiapp h3 { font-size:153.9%; margin-bottom:0.5em; }

/* Basic block */
.yui-skin-yuiapp .block { margin-bottom:1.5em; }
.yui-skin-yuiapp .block .hd { background-color:#7a1818; padding:0.7em 1em; color:#fff; border-bottom:10px solid #262626; }
.yui-skin-yuiapp .block .hd h2, .yui-skin-yuiapp .block .hd h3 { font-size:100%; margin-bottom:0; }
.yui-skin-yuiapp .block .bd { padding:1em; background-color:#fff; }
.yui-skin-yuiapp .block .bd h2 { color:#7a1818; }
.yui-skin-yuiapp .block .bd h3 { color:#7a1818; }

/* Extend block with tabs */
.yui-skin-yuiapp .tabs .hd { padding:0; }
.yui-skin-yuiapp .tabs .hd ul { height:1%; }
.yui-skin-yuiapp .tabs .hd ul li { float:left; }
.yui-skin-yuiapp .tabs .hd ul li a { display:block; color:#fff; text-decoration:none; padding:0.5em 1em; }
.yui-skin-yuiapp .tabs .hd ul li a:hover { background-color:#470E0E; }
.yui-skin-yuiapp .tabs .hd ul li.active a { background-color:#262626 !important; color:#fff; text-decoration:none; } /* important! fixes IE cascade issue */
.yui-skin-yuiapp .tabs .hd h2, .yui-skin-yuiapp .tabs .hd h3 { position:absolute; margin-left:-5000px; } /* Hidden SEO Header if needed */

/* Extend tab block with spaced tabs */
.yui-skin-yuiapp .spaces .hd { background-color:transparent; }
.yui-skin-yuiapp .spaces .hd ul li { background-color:#7a1818; margin-right:0.1em; }

/* Extend block and header to have rounded corners */
.yui-skin-yuiapp .rounded .hd,
.yui-skin-yuiapp .rounded .hd ul li,
.yui-skin-yuiapp .rounded .hd ul li a,
.yui-skin-yuiapp .rounded #navigation,
.yui-skin-yuiapp .rounded #navigation ul li,
.yui-skin-yuiapp .rounded #navigation ul li a {
    -moz-border-radius-topright:7px;
    -moz-border-radius-topleft:7px;
    -webkit-border-top-right-radius:7px;
    -webkit-border-top-left-radius:7px;
}

/* Style the horizontal rules inside .block */
.yui-skin-yuiapp .block hr { background-color:#f0f0ee; color:#f0f0ee; height:1px; border:0; }

/* Tables */
.yui-skin-yuiapp table { width:100%; margin-bottom:2em; }
.yui-skin-yuiapp table td { padding:0.5em; }
.yui-skin-yuiapp table thead { background-color:#262626; color:#fff; font-weight:bold; }
.yui-skin-yuiapp table thead a { text-decoration:none; color:#fff; }
.yui-skin-yuiapp table thead a:hover { text-decoration:underline; }
.yui-skin-yuiapp table tbody a { text-decoration:underline; }

/* Pager control*/
.yui-skin-yuiapp ul.pager { text-align:right; }
.yui-skin-yuiapp ul.pager li { display:inline; }
.yui-skin-yuiapp ul.pager li a { padding:0.1em 0.3em; margin-right:0.3em; border:1px solid #000; text-decoration:none; color:#000; }
.yui-skin-yuiapp ul.pager li.active a, .yui-skin-yuiapp ul.pager li a:hover { background-color:#000; color:#fff; }

/* Forms */
.yui-skin-yuiapp form label { font-weight:bold; }
.yui-skin-yuiapp form label span { font-weight:normal; color:#f00; font-size:85%; }
.yui-skin-yuiapp form span.info { font-style:italic; color:#aaa; font-size:85%; }
.yui-skin-yuiapp form .text { display:block; width:99%; border:1px solid #aaa; padding:0.3em; }
.yui-skin-yuiapp form .column { width:48%; }
.yui-skin-yuiapp form .left { float:left; }
.yui-skin-yuiapp form .right { float:right; }

/* Messages */
.yui-skin-yuiapp .alert { padding:0.5em; text-align:center; }
.yui-skin-yuiapp .error { border:2px solid #fbb; background-color:#fdd; }
.yui-skin-yuiapp .warning { border:2px solid #fffaaa; background-color:#ffc; }
.yui-skin-yuiapp .notice { border:2px solid #1fdf00; background-color:#bbffb6; }

/* Lists */
.yui-skin-yuiapp ol.list, ul.list, .yui-skin-yuiapp dl.list { margin-left:2em; margin-bottom:1em; }
.yui-skin-yuiapp ol.list li { list-style:decimal outside; }
.yui-skin-yuiapp ul.list li { list-style:disc outside; }
.yui-skin-yuiapp dl.list dd { margin-left:1em; }

.yui-skin-yuiapp ul.biglist { margin-bottom:1em; }
.yui-skin-yuiapp ul.biglist li { margin-top:-1px; border:1px solid #f0f0ee; border-width:1px 0 1px 0; }
.yui-skin-yuiapp ul.biglist li a { display:block; padding:0.5em 0; text-decoration:none; color:#000; }
.yui-skin-yuiapp ul.biglist li a:hover { text-decoration:underline; }

/* Footer */
.yui-skin-yuiapp #ft { text-align:center; font-size:85%; padding:0.5em 1em; color:#262626; }

/* Generics */
.yui-skin-yuiapp p { margin-bottom:1em; }
.yui-skin-yuiapp a { color:#7a1818; }
.yui-skin-yuiapp strong { font-weight:bold; }
.yui-skin-yuiapp em { font-style:italic; }
.yui-skin-yuiapp abbr, .yui-skin-yuiapp acronym { border-bottom:1px dotted #000; cursor:help; }

.yui-skin-yuiapp .small { font-size:85%; }
.yui-skin-yuiapp .gray { color:#999; }
.yui-skin-yuiapp .highlight { background-color:#ffffcc; }
.yui-skin-yuiapp .clear { clear:both; }
.yui-skin-yuiapp .text-left { text-align:left; }
.yui-skin-yuiapp .text-right { text-align:right; }
.yui-skin-yuiapp .text-center { text-align:center; }
